{% extends 'blog/base.html' %}

{% block content %}
<h2>PORTFOLIO</h2>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> All</button>
  <button class="btn" onclick="filterSelection('nature')"> Nature</button>
  <button class="btn" onclick="filterSelection('travel')"> Travel</button>
  <button class="btn" onclick="filterSelection('animals')"> Animals</button>
  <button class="btn" onclick="filterSelection('arts')"> Arts</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column nature">
    <div class="content">
      <img src="/static/torres.jpg" alt="Mountains" style="width:100%">
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="/static/trolltunga.jpg" alt="Fjords" style="width:100%">
      <h4>Fjords</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="/static/aomori.jpg" alt="Forests" style="width:100%">
      <h4>Forests</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column travel">
    <div class="content">
      <img src="/static/chile.jpg" alt="Chile" style="width:100%">
      <h4>Chile</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column travel">
    <div class="content">
      <img src="/static/italy.jpg" alt="Italy" style="width:100%">
      <h4>Italy</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column travel">
    <div class="content">
      <img src="/static/norway.jpg" alt="Norway" style="width:100%">
      <h4>Norway</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column animals">
    <div class="content">
      <img src="/static/dolphin.jpg" alt="Dolphins" style="width:100%">
      <h4>Dolphins</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column animals">
    <div class="content">
      <img src="/static/butterfly.jpg" alt="Butterflies" style="width:100%">
      <h4>Butterflies</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column animals">
    <div class="content">
      <img src="/static/goat.jpg" alt="Goats" style="width:100%">
      <h4>Goats</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column arts">
    <div class="content">
      <img src="/static/movie.jpg" alt="Movie" style="width:100%">
      <h4>Movies</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column arts">
    <div class="content">
      <img src="/static/dress.jpg" alt="Clothes" style="width:100%">
      <h4>Clothes</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column arts">
    <div class="content">
      <img src="/static/dress.jpg" alt="Clothes" style="width:100%">
      <h4>Clothes</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
<!-- END GRID -->
</div>

<script type="text/javascript">
filterSelection("all") // Execute the function and show all columns
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

{% endblock %}
