/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1 0 auto;
}

h1 {
  color: #348ba8;
  font-family: 'Josefin Sans';
  font-size: 2em;
  text-align:
}

h2 {
  text-align: center;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  margin-top: 5px;
	display: block;
	padding: 10px 15px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #348ba8;
  float: right;
  font-size: 1.2em;
  margin-right: 20px;
  text-decoration: none;
}

.page-header {
  background-color: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Josefin Sans';
  border: none;
  padding-top: .5em;
	padding-bottom: .5em;
}

.name a {
  color: #348ba8;
  text-decoration: none;
}

.name a:hover {
  color: #055570;
}

/* ---- Layout Containers ---- */

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main-footer {
  text-align: center;
  padding: 2em 0;
  width: 100%;
  color: #878787;
  font-family: 'Josefin Sans';
}

/* =================================
  Post Layout Styles
==================================== */

.main-header {
  padding-top: 250px;
  height: 700px;
  background: linear-gradient(#1cb5e0, transparent 70%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('/static/photos/valle_frances.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  font-family: 'Josefin Sans';
}

.nav {
  width: 100%;
  position: absolute;
  top: 40px;
}

.post-title {
  color: white;
  font-weight: normal;
  line-height: 1.3;
}

.post {
  margin-bottom: 0;
  font-size: 1.25em;
  font-family: 'Josefin Sans';
}

.t-border {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 2px solid #dfe2e6;
}

.post-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
  color: #878787;
}

.date {
  color: #828282;
  font-size: 0.75em;
}

/* =================================
Form Layout Styles
==================================== */

.form {
  color: #348ba8;
  font-family: 'Josefin Sans';
}

.form-field {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
}

.form-field li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-field label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-field input[type=text],
.form-field input[type=email],
.form-field input[type=subject],
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-field input[type=text]:focus,
.form-field input[type=email]:focus,
.form-field input[type=subject]:focus,
.form-field textarea:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-field .field-rect {
    width: 100%;
}

.form-field {
    width: 100%;
}

.form-field .field-textarea {
    height: 100px;
}

.form-field input[type=submit] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-field input[type=submit]:hover {
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.form-field .required {
    color:red;
}

/* =================================
Comment Layout Styles
==================================== */

.comment {
  color: #348ba8;
  font-family: 'Josefin Sans';
  margin: 5px auto;
  max-width: 400px;
  padding: 10px 12px 10px 10px;
}

.comment-btn {
  margin-top: 20px;
}

/* =================================
  Button Styles
==================================== */

.publish {
  background: #4B99AD;
  color: #fff;
  margin-top: 25px;
  margin-left: 250px;
  padding: 12px 16px;
}

.edit {
  background: #4B99AD;
  color: #fff;
  margin-top: 25px;
  padding: 12px 16px;
}

.remove,
.approve {
  background: #4B99AD;
  color: #fff;
  margin-top: 25px;
  padding: 12px 16px;
}

.publish:hover,
.edit:hover,
.remove:hover,
.approve:hover {
    text-decoration: none;
    background: #4691A4;
    color: #fff;
}

/* =================================
  Edit Page Layout Styles
==================================== */

.save {
  float: right;
}

.edit-page {
  color: #348ba8;
  font-family: 'Josefin Sans';
  font-size: 2em;
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 768px) {

    .post-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }

    .post-title {
        font-size: 2.5rem;
    }

    .post-content {
        font-size: 1.5rem;
        padding: 10% 12%;
        margin: 50px 0 20px;
        border: none;
    }

}
