/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1 0 auto;
}

h1 {
  color: #348ba8;
  font-family: 'Josefin Sans';
  font-size: 2em;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  margin-top: 5px;
	display: block;
	padding: 10px 15px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #348ba8;
  float: right;
  font-size: 1.2em;
  margin-right: 20px;
  text-decoration: none;
}

.page-header {
  background-color: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Josefin Sans';
  border: none;
  padding-top: .5em;
	padding-bottom: .5em;
}

.name a {
  color: #348ba8;
  text-decoration: none;
}

.name a:hover {
  color: #055570;
}

/* ---- Layout Containers ---- */

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main-footer {
  text-align: center;
  padding: 2em 0;
  width: 100%;
  color: #878787;
  font-family: 'Josefin Sans';
  position: absolute; /*footer at bottom*/
  bottom: 0; /*footer at bottom*/
}

.content {
  margin-left: 40px;
}

/* =================================
  Post Layout Styles
==================================== */

.main-header {
  padding-top: 250px;
  height: 700px;
  background: linear-gradient(#1cb5e0, transparent 70%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('/static/photos/valle_frances.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  font-family: 'Josefin Sans';
}

.nav {
  width: 100%;
  position: absolute;
  top: 40px;
}

.post-title {
  color: white;
  font-weight: normal;
  line-height: 1.3;
}

.post {
  margin-bottom: 0;
  font-size: 1.25em;
  font-family: 'Josefin Sans';
}

.t-border {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 2px solid #dfe2e6;
}

.post-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
  color: #878787;
}

.comment {
  margin: 20px 0 20px 20px;
}

.date {
  color: #828282;
  font-size: 0.75em;
}

/* =================================
  Edit Page Layout Styles
==================================== */

.save {
  float: right;
}

.edit-page {
  color: #348ba8;
  font-family: 'Josefin Sans';
  font-size: 2em;
}

/* =================================
  Comment Page Layout Styles
==================================== */

.comment-page {
  color: #348ba8;
  font-family: 'Josefin Sans';
  font-size: 2em;
}

/* =================================
  Button Styles
==================================== */

.publish {
  margin-top: 25px;
  margin-left: 250px;
  max-width: 960px;
}

.edit {
  margin-top: 25px;
  max-width: 960px;
}

.remove {
  margin-top: 25px;
  max-width: 960px;
}

.comment {
  margin-left: 250px;
  max-width: 960px;
  font-family: 'Josefin Sans';
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

    .container {
        width: 100%;
        margin: 0 auto;
    }

}

@media (max-width: 768px) {

    .container {
        width: 90%;
        padding: 20px;
    }

    .post-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }

    .post-title {
        font-size: 2.5rem;
    }

    .post-content {
        font-size: 1.5rem;
        padding: 10% 12%;
        margin: 50px 0 20px;
        border: none;
    }

}
